body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #202020;
    color: #202020;
    height: 100vh;
}
header {
    background-color: #555;
    border-bottom: 5px solid #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
header label {
    color: #f2f2f2;
}
main {
    background-color: #f2f2f2;
    border: 5px solid #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
input, label {
    font-size: 5vw;
}
input[type=number] {
    appearance: textfield;
    color: #fff;
    background-color: #555;
}
.bot {
    margin-top: auto;
}
.btn {
    width: 100vw;
    border: 5px solid #202020;
    border-top: none;
    background-color: orange;
    color: #f2f2f2;
}
.o_label {
    font-size: 5vh;
    
}